<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glowroad.photosexample">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="GlowRoadApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_glow_road"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_glow_road_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b3ed6f9ae8b9d6cfdab4083570f22ba8ecb5695a" />
    </application>

</manifest>